for $h in 1..4
{
    h{$h}
    {
        font-size:     $rem_font_size * lookup('$h' + $h + '_scale');
        line-height:   $rem_line_height * lookup('$h' + $h + '_scale');
        margin-top:    2 * $rem_font_size;
        margin-bottom: 1 * $rem_font_size;
    }
}

p
{
    margin-top:    $rem_line_height;
    margin-bottom: $rem_line_height;
    font-size:     $rem_font_size;
    line-height:   $rem_line_height;
}
